Options -Indexes

<FilesMatch "(?i)\.(php|phtml|php\d+|phar|cgi|pl|py|exe|sh|shtml)$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</FilesMatch>
